:host ::ng-deep .add-btn span.ui-button-icon-left {
  left: 0.2em;
}

:host ::ng-deep .add-btn span.ui-button-text {
  padding: 0.35em 0.45em 0.35em 1.5em;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 0 1em 1em;
  border-color: transparent transparent transparent #ff5722;
  left: 0;
  top: 0;
}
